.absolute {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: red;
    height: 100px;
    width: 100px;
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    height: 100px;
    width: 100px;
}
.sticky {
    position: sticky;
    top: 50px;
    background-color: blue;
    height: 100px;
    width: 100px;
}
